@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

/*home style*/
.home {
  position: relative;
  min-height: 100vh;
  background-image: url('../img/bg-ceu-gradient.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}

.home img {
  width: 300px;
  text-align: center;
}

.home .info h2{
  margin-top: 10px;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
}

.home .info p {
  padding-top: 10px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  font-size: 1.3em;
  margin: 0 150px;
  color:#b3b3b3;
}

.scroll {
  margin-top: 35px;
}

.home .scroll-down {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.home .scroll-down i {
  color: white;
  font-size: 1.2em;
  animation: arrow-down ease 2s infinite;
  padding-left: 10px;
}

@keyframes arrow-down {
  0% {
      transform: translateY(0);
  }
  30% {
      transform: translateY(10px);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*discount style*/

.discount{
  width: auto;
  min-height: 100vh;
  padding-top: 30px;
  background-image: url('../img/bg-ceu-gradient-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section.discount .row .daapheader img {
  width: 100%;
  margin-top: 15px;
}


.cardcon{
  background-color: black;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
  min-height: 430px;
  padding: 25px;
  -webkit-box-shadow: -1px 0px 31px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 31px -9px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 31px -9px rgba(0,0,0,0.75);
}

.card p{
  font-size: 95%;
  color: white;
  margin-bottom: 20px;
}

.btn-card:link,
.btn-card:visited{
  color: lightcoral;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid lightcoral;
  border-radius: 30px;
  transition: 0.5s;
}

.btn-card:hover,
.btn-card:active{
  color: #FFF;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
  transition: 0.5s;
}

.map {
    text-align: center;
    width: auto;
    min-height: 70vh;
    padding-top: 30px;
    background-color: #FFF;
    background-size: cover;
}

svg path {
  fill: #251f70;
  stroke: #251f70;
  stroke-width: .25;
}

svg path:hover {
  fill: #ed6eae;
  transition: 0.6s;
  cursor: pointer;
}

.tracert {
    min-height: 50vh;
    padding-top: 30px;
    background: rgb(28,31,68);
    background: linear-gradient(180deg, rgba(28,31,68,1) 27%, rgba(148,44,121,1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tracert h2 {
  color: white;
  margin-top: 20px;
}

.tracert label {
  color: white;
  font-weight: 600;
}

.tracert input {
  padding: 10px;
}

.btn-outline-light {
  color: #f5f5f5;
  padding: 15px;
}

.regOverlay {
	position: fixed;
  overflow: scroll;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.regOverlay:target {
	visibility: visible;
	opacity: 1;
}
.regWrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 35%;
	position: relative;
	transition: all 3s ease-in-out;
}
.regWrapper h2 {
	margin-top: 0;
	color: #333;
}
.regWrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.regWrapper .close:hover {
	color: #06D85F;
}
.wrapregWrapperper.content {
	max-height: 30%;
	overflow: auto;
}
.regForm {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}

/*status section*/
section{
  padding: 100px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.max-width form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.max-width form{
  padding: 10px 30px 50px 30px;
}

.max-width form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.max-width form .field input:focus,
form .field input:valid{
  border-color: #7106af;
}

.max-width form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field h5 {
  text-align: center;
}

form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
  transition: all 0.3s ease;
}

.tooltip {
  background-repeat:no-repeat;
  position: absolute;
  z-index: 9999;
  display: block;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  opacity: 0;
  pointer-events: none;
}
.tooltip.show {
  opacity: 0.9;
}

a.link {
  cursor:pointer;
}
.tooltip .tooltip-arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}
.tooltip .tooltip-arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[data-popper-placement^=top] {
  padding: 0.4rem 0;
}
.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
  bottom: 0;
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  top: -1px;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: red !important;
}

.bs-tooltip-end, .bs-tooltip-auto[data-popper-placement^=right] {
  padding: 0 0.4rem;
}
.bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  right: -1px;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[data-popper-placement^=bottom] {
  padding: 0.4rem 0;
}
.bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
  top: 0;
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  bottom: -1px;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #000;
}

.bs-tooltip-start, .bs-tooltip-auto[data-popper-placement^=left] {
  padding: 0 0.4rem;
}
.bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  left: -1px;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 1rem 2rem !important;
  color: #f5f5f5 !important;
  font-size: 15px;
  text-align: center;
  border: 2px solid #f5f5f5 !important;
  background-color: #151515 !important;
  border-radius: 3rem !important;
  font-weight:600;
}

.popover {
  position: absolute;
  top: 0;
  left: 0 /* rtl:ignore */;
  z-index: 1070;
  display: block;
  max-width: 276px;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.popover .popover-arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
}
.popover .popover-arrow::before, .popover .popover-arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top > .popover-arrow, .bs-popover-auto[data-popper-placement^=top] > .popover-arrow {
  bottom: calc(-0.5rem - 1px);
}
.bs-popover-top > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=top] > .popover-arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-top > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=top] > .popover-arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.bs-popover-end > .popover-arrow, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
}
.bs-popover-end > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-end > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=right] > .popover-arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.bs-popover-bottom > .popover-arrow, .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow {
  top: calc(-0.5rem - 1px);
}
.bs-popover-bottom > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-bottom > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}
.bs-popover-bottom .popover-header::before, .bs-popover-auto[data-popper-placement^=bottom] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f0f0f0;
}

.bs-popover-start > .popover-arrow, .bs-popover-auto[data-popper-placement^=left] > .popover-arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
}
.bs-popover-start > .popover-arrow::before, .bs-popover-auto[data-popper-placement^=left] > .popover-arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-start > .popover-arrow::after, .bs-popover-auto[data-popper-placement^=left] > .popover-arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.popover-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.popover-header:empty {
  display: none;
}

.popover-body {
  padding: 1rem 1rem;
  color: #212529;
}
Write to John Noel Gita


@media only screen and (min-width: 992px) and (max-width: 1280px){
  .regWrapper {
  	margin: 70px auto;
  	padding: 20px;
  	background: #e7e7e7;
  	border-radius: 5px;
  	width: 50%;
  	position: relative;
  	transition: all 3s ease-in-out;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px){
  .regWrapper {
  	margin: 70px auto;
  	padding: 20px;
  	background: #e7e7e7;
  	border-radius: 5px;
  	width: 50%;
  	position: relative;
  	transition: all 3s ease-in-out;
  }
}

@media only screen and (max-width: 768px){
  .regWrapper {
  	margin: 70px auto;
  	padding: 20px;
  	background: #e7e7e7;
  	border-radius: 5px;
  	width: 60%;
  	position: relative;
  	transition: all 3s ease-in-out;
  }
}

@media only screen and (max-width: 414px){
  .regWrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 3s ease-in-out;
  }
}
@media only screen and (max-width: 414px){
.home .info p {
  padding-top: 10px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  font-size: 1.3em;
  margin: 0 40px;
  color:#b3b3b3;
  }
}

@media only screen and (max-width: 300px){
  .regWrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 3s ease-in-out;
  }
}

@media only screen and (max-width: 300px){
  .home .info p {
    padding-top: 10px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    font-size: 1.3em;
    color:#b3b3b3;
    }
    .home .info p {
      padding-top: 10px;
      font-weight: 600;
      line-height: 35px;
      text-align: center;
      font-size: 1.3em;
      margin: 0 100px;
      color:#b3b3b3;
    }
  }

/* Tracert */
  .fancy {
    background-color: transparent;
    border: 2px solid #f5f5f5;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #f5f5f5;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #f5f5f5;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #212529;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #212529;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #212529;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #212529;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }