html{
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

.discount {
    width: auto;
    height: 100vh;
    padding-top: 30px;
    background-image: url('../img/background-ceu2.png');
    background-size: cover;
    background-position: center;
}

.carousel-item{
    min-height: 80vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    border-radius: 15px;
	  margin-top: 20px;
}


.map {
    width: auto;
    height: 100vh;
    padding-top: 30px;
    background-image: url('../img/background-ceu.jpg');
    background-size: cover;
    background-position: center;
}

.tracert {
    width: auto;
    height: 100vh;
    padding-top: 30px;
    background-image: url('../img/bg-ceu.png');
    background-size: cover;
    background-position: center;
}

.regOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.regOverlay:target {
	visibility: visible;
	opacity: 1;
}
.regWrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 3s ease-in-out;
}
.regWrapper h2 {
	margin-top: 0;
	color: #333;
}
.regWrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.regWrapper .close:hover {
	color: #06D85F;
}
.wrapregWrapperper .content {
	max-height: 30%;
	overflow: auto;
}
.regForm {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}
.discount h2{
  color: white;
}
.discount a{
  font-size: 20px;
}
