@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: url('../img/bg-ceu-gradient-1.jpg') no-repeat;
}
::selection{
  background: #fa4299;
  color: #fff;
}

.navbar {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  margin: auto;
  padding: 10px 0;
  padding-left: 30px;
  align-items: center;
  justify-content: space-between;
}

.navbar img{
  width: 200px;
  cursor: pointer;
  float: left;
}

.icons ul li {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}

.icons ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 17px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
}

.icons ul li a:hover {
  background: rgb(107, 95, 105);
  color: #000;
}

.ceu{
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.header-top h1 {
  color: #ff009d;
  font-weight: 720;
  font-size: 45px;
  margin-bottom: -20px;
  text-align: center;
}

.header-top h2 {
  color: white;
  font-style: italic;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: -10px;
  text-align: center;
}

.wrapper{
  margin-top: 50px;
  width: 800px;
  max-width: 600px;
  background: -webkit-linear-gradient(left,#a445b2, #fa4299);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
}
.wrapper .title-text{
  display: relative;
  width: 100%;
  text-align: center;
}

.wrapper p {
  font-size: 15px;
  color: #fff;
}
.wrapper .title{
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border-radius: 15px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label {
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin: 5 10;
}

.slide-controls{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  background:black;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}

.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 100%;
}
.form-container .form-inner form{
  width: 100%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 15px;
  transition: all 0.3s ease;
}

form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: #99147c;
  border: white 1px solid;
  transition: all 0.3s ease;
}

form .field input[type="submit"]:hover {
  background: white;
  color: #99147c;
}


/*media screen*/

@media only screen and (max-width: 992px) {
  .header-top h1{
    font-size: 40px;
  }
  .header-top h2{
    font-size: 70px;
    margin-top: 15px;
  }
  .navbar img{
    width: 150px;
    cursor: pointer;
  }
  .wrapper{
    max-width: 600px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .header-top h1{
    font-size: 33px;
  }
  .header-top h2{
    font-size: 60px;
    margin-top: 15px;
  }
  .navbar img{
    width: 150px;
    cursor: pointer;
  }
  .wrapper{
    max-width: 500px;
  }
}

@media only screen and (max-width: 635px) {
  .header-top h1{
    font-size: 30px;
  }
  .header-top h2{
    font-size: 57px;
    margin-top: 15px;
  }
  .navbar img{
    width: 150px;
    cursor: pointer;
  }
  .wrapper{
    max-width: 500px;
  }
}

@media screen and (max-width: 600px){
  .header-top h1{
    font-size: 28px;
  }
  .header-top h2{
    font-size: 51px;
    margin-top: 15px;
  }
  .navbar img{
    width: 150px;
    cursor: pointer;
  }
  .wrapper{
    max-width: 450px;
  }
}

@media screen and (max-width: 500px){
  .header-top h1{
    font-size: 24px;
  }
  .header-top h2{
    font-size: 43px;
    margin-top: 15px;
  }
  .navbar img{
    width: 150px;
    cursor: pointer;
  }
  .wrapper{
    max-width: 450px;
  }
}

@media screen and (max-width: 420px){
  .header-top h1{
    font-size: 22px;
  }
  .header-top h2{
    font-size: 45px;
    margin-top: 15px;
  }
  .navbar img{
    width: 150px;
    cursor: pointer;
  }
  .wrapper{
    max-width: 320px;
  }
}
