@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

.bg-banner {
    width: auto;
    height: 100vh;
    background-image: url('../img/background-ceu.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: black;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ceu-logo-white img{
    width: 20%;
    cursor: pointer;
}

.social-icons {
    position: absolute;
    right: 50px;
    bottom: 2%;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
}

.social-icons ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 17px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-icons ul li a:hover {
    background: #fff;
    color: #000;
}

.header-top {
    padding-top: 80px;
    text-align: center;
    height: 30vh;
    width: 55%;
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-top h1 {
    color: #FF47B8;
    font-weight: 720;
    font-size: 57px;
    margin-bottom: -20px;
}

.header-top h2 {
    color: white;
    font-style: italic;
    font-size: 100px;
    font-weight: 600;
    margin-bottom: -10px;
}

.header-top h5 {
    color: #fff;
    float: right;
}

.form {
    background-color: #F8A8D9;
    text-align: center;
    height: 39vh;
    width: 28%;
    position:absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.form_login h1 {
    margin-top: 20px;
    line-height: 40px;
    font-size: 40px;
    font-weight: 800;
    color: black;
}

.form_login p {
    font-weight: 500;
    margin-bottom: 20px;
}

.form_login h4 {
    color: #fff;
    font-size: 23px;
}

.input-field input{
    border: none;
    margin: 4px;
    border-radius: 10px;
    width: 300px;
    height: 38px;
}

input[type=text] {
    padding-left:20px;
}

input[type=password] {
    padding-left:20px;
}

::placeholder {
    font-weight: 600;
}

.input-field button {
    border: none;
    background-color: #150040;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    margin-top: 15px;
}

.input-field span {
    color: white;
    font-weight: bold;
    margin-top: 3px;
    font-size: 18px;
    padding-left: 30px;
    float: left;
}

.fa-arrow-circle-o-right {
    float: right;
    margin-right: 25px;
}

.header-tag h1{
  background-repeat: no-repeat;
  font-size: 20px;
  color: white;
  margin: 25px;
  padding: 50px;
  padding-left: 50px;
  margin-left: 75px;
  text-align: left;
}

.header-tag img{
  float: right;
  width: 650px;
  height: 650px;
  margin-right: 180px;
}
.head-tag-main h1{
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  margin-left: 500px;
  margin-top: 100px;
  text-align: left;
}
.head-tag-nxt h1{
  margin-bottom: 0;
  text-transform: uppercase;
  color: #f04e98;
  margin-left: 490px;
  text-align: left;

}
.cont-btn{
  height: 100%;
  color: #f04e98;
  margin-left: 500px;
  align-items: center;
}
.button{
  display: flex;
}
.btn{
  text-decoration: none;
  padding: 20px 50px;
  font-size: 20px;
  position: relative;
}
.btn-1{
  background: #f04e98;
  color: black;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.btn-1::after, .btn-1::before{
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #f04e98;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.btn-1:hover{
  transform: translate(-12px, -12px);
}
.btn-1:hover::after{
  transform: translate(6px, 6px);
}
.btn-1:hover::before{
  transform: translate(12px, 12px);
}
